/*.cdk-overlay-pane {*/
/*  position: absolute;*/
/*  pointer-events: auto;*/
/*  box-sizing: border-box;*/
/*  z-index: 1000;*/
/*  display: flex;*/
/*  max-width: 100%;*/
/*  max-height: 100%;*/
/*}*/

/*cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"*/

.backdropBackground {
  filter: blur(20px);
  background-color: #caa4a4;
  opacity: 0.7 !important;
}

/*@media screen and (max-width: 200px) {*/
/*  .smallScreen{*/
/*    margin-left: 30px;*/
/*  }*/
/*}*/

.field{
  width: 70%;
  margin-right: 15%;
  margin-left: 15%
}

.buttonFormL{
  width: 50%;
  margin-right: 5%;
  margin-left: 45%
}

.buttonFormR{
  width: 50%;
  margin-right: 45%;
  margin-left: 5%
}
