
<div class="title">
  Lista Trattamenti
</div>
<hr>

<!--<div class="treatment_box">-->
<!--    <div class="treatment"-->
<!--      *ngFor="let treatment of treatments; let i = index">-->
<!--      {{ treatment.name }} - {{ treatment.price }} €-->
<!--    </div>-->
<!--</div>-->

<mat-list>
<!--  <mat-divider></mat-divider>-->
  <mat-list-item *ngFor="let treatment of treatments; let i = index">
    {{ treatment.name }} - {{ treatment.price }} €
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>

<!--<a-->
<!--  class="list-group-item treatment"-->
<!--  *ngFor="let treatment of treatments; let i = index"-->
<!--&gt;-->
<!--  {{ treatment.name }} - {{ treatment.price }} €-->
<!--</a>-->

<!--<div class="row">-->
<!--  <div class="treatment_box">-->
<!--    <ul class="list-group">-->
<!--      <div-->
<!--        class="list-group-item treatment"-->
<!--        *ngFor="let treatment of treatments; let i = index"-->
<!--      >-->
<!--        {{ treatment.name }} - {{ treatment.price }} €-->
<!--      </div>-->
<!--    </ul>-->
<!--  </div>-->
<!--</div>-->


