
.treatment_box {
  width: auto;
  background: #ffffff;
  padding: 10px 10px 10px 20px;
  overflow: hidden;
  margin: 10px 10px 10px 10px;
}

.mat-list-base{
  padding-top: 0;
}


.treatment {
  font-family: FontAwesome;
  font-size: 18px;
  top: 0;
  left: -5px;
  padding: 10px 10px 5px 10px;
  cursor: pointer;
  pointer-events: none;
  border: 0;
}

.mat-divider {
  display: block;
  margin: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #0000001f;
}


