<app-header></app-header>
<!--<div class="row" style="margin-bottom: 10%">-->
<!--  <div class="col-xs-12" >-->
    <router-outlet></router-outlet>
<!--  </div>-->
<!--</div>-->


<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-md-12">-->
<!--      <router-outlet></router-outlet>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<footer class="footer is-family-secondary">-->
<!--  <section class="section">-->
<!--    <div class="container">-->
<!--      <div class="columns">-->
<!--        <div class="column">-->
<!--          Link a FB e Instagram-->
<!--&lt;!&ndash;          <app-external-links></app-external-links>&ndash;&gt;-->
<!--        </div>-->
<!--        <div class="column">-->
<!--          altri-->
<!--          &lt;!&ndash;          <app-navigation-links [navigationID]="footerNavigationID"></app-navigation-links>&ndash;&gt;-->
<!--        </div>-->
<!--      </div>-->
<!--      <p>-->
<!--        Made with love using Angular, Bulma and CosmicJS-->
<!--      </p>-->
<!--    </div>-->
<!--  </section>-->
<!--</footer>-->
