<h2 mat-dialog-title style="text-align: center; margin-bottom: 10%">INSERIRE I DATI DELL'APPUNTAMENTO</h2>
<mat-dialog-content class="mat-typography" [formGroup]="form" ><!--*ngIf="form"-->

  <!--  Email e cellulare-->
  <div class="row">
    <div class="col-sm-6">
      <mat-form-field class="field">
        <mat-label>Email</mat-label>
        <input matInput placeholder="email@example.com" id="email" name="email" formControlName="email" required>
        <mat-error *ngIf="this.form.get('email').invalid">
                   {{getErrorMessage('email')}}
        </mat-error>
      </mat-form-field>
<!--      "this.form.get('email').invalid &&-->
<!--      (this.form.get('email').dirty || this.form.get('email').touched)"-->
    </div>
    <div class="col-sm-6">

      <mat-form-field class="field">
        <mat-label>Cellulare</mat-label>
        <input matInput placeholder="Cellulare" id="number" name="number" formControlName="number" required >
        <mat-error *ngIf="this.form.get('number').hasError('required')">{{getErrorMessage('number')}}</mat-error>
        <!--    <mat-icon matSuffix>phone</mat-icon>-->
        <!--    <mat-error *ngIf="number.invalid">{{getErrorMessage()}}</mat-error>-->
      </mat-form-field>
    </div>
  </div>

  <!--  Data e Orario-->
  <div class="row">
    <div class="col-sm-6">

      <mat-form-field class="field">
        <mat-label>Seleziona la data</mat-label>
        <input matInput
               [min]="minDate" [matDatepicker]="picker"
               formControlName="date"
               required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker ></mat-datepicker>
        <mat-error *ngIf="this.form.get('date').invalid">{{getErrorMessage('date')}}</mat-error>
      </mat-form-field>

    </div>
    <div class="col-sm-6">

      <mat-form-field class="field" required>
        <mat-select placeholder="Seleziona l'orario" required formControlName="hours">
          <mat-option *ngFor="let hour of this.hoursList" [value]="hour">{{hour}}</mat-option>
        </mat-select>
        <mat-error *ngIf="this.form.get('hours').invalid">{{getErrorMessage('hours')}}</mat-error>
      </mat-form-field>

    </div>
  </div>

<!--  Prenotazione non trovata-->
  <div class="row summary" *ngIf="tried">
    <div class="col-sm-12">
      <b> Prenotazione non trovata! </b><br>
      <b> Controllare i campi inseriti in fase di prenotazione. </b>
    </div>
  </div>

<!--  Prenotazione trovata-->
  <div class="row summary" *ngIf="founded">
    <div class="col-sm-12">
      <div mat-dialog-content>
        <b>Nome:</b> {{this.reservation.getName()}}
      </div>
      <div mat-dialog-content>
        <b>Cognome:</b> {{this.reservation.getSurname()}}
      </div>
      <div mat-dialog-content>
        <b>Email:</b> {{this.reservation.getEmail()}}
      </div>
      <div mat-dialog-content>
        <b>Cellulare:</b> {{this.reservation.getNumber()}}
      </div>
      <div mat-dialog-content>
        <b>Data:</b> {{this.reservation.getDate().toLocaleDateString()}}
      </div>
      <div mat-dialog-content>
        <b>Orario:</b> {{this.reservation.getHour()}}
      </div>
      <div mat-dialog-content>
        <b>Trattamento:</b> {{this.reservation.getTreatment()}}
      </div>
    </div>
  </div>

<!--  Button-->
  <div class="row" style="margin-top: 5%">
    <div class="col-sm-6" style="text-align: center;margin-bottom: 5%">
<!--      <button class="mat-raised-button mat-primary "-->
<!--              type="submit"-->
<!--              (click)="findReservation()"-->
<!--              style="margin-left: 20px; margin-right: 20px"-->
<!--              *ngIf="!founded"-->
<!--              >Trova Prenotazione</button>-->
      <mat-button-toggle class="mat-raised-button mat-primary "
                         type="submit"
                         (click)="findReservation()"
                         style="margin-left: 20px; margin-right: 20px"
                         *ngIf="!founded"
                         [disableRipple]="false">
        Trova Prenotazione
      </mat-button-toggle>
      <mat-button-toggle class="mat-raised-button mat-primary "
                         type="submit"
                         (click)="deleteReservation()"
                         style="margin-left: 20px; margin-right: 20px"
                         *ngIf="founded">
        Cancella Prenotazione
      </mat-button-toggle>
    </div>
    <div class="col-sm-6" style="text-align: center">
      <mat-button-toggle class="mat-raised-button mat-warn "
                         (click)="onCloseDialog()">Annulla
      </mat-button-toggle>
    </div>
  </div>

  <!--  </mat-dialog-actions>-->



</mat-dialog-content>

