.field{
  width: 70%;
  margin-right: 15%;
  margin-left: 15%;
  margin-bottom: 2%;
}

.summary{
  margin-right: 15%;
  margin-left: 5%;
  margin-bottom: 2%;
}

.mat-button-toggle-checked.mat-button-toggle-appearance-standard {
  color: rgb(255, 255, 255);
}
