
<div class="row">
  <div class="col-10" style="padding: 0 0 0 0;">
    <h1 mat-dialog-title class="text-title" *ngIf="this.getInsertion()">Prenotazione Confermata!</h1>
    <h1 mat-dialog-title class="text-title" *ngIf="!this.getInsertion()">Dettagli Prenotazione</h1>
  </div>
  <div class="col-2" style="padding: 1% 0 0 0;text-align: right">
    <button class="bi bi-x-circle-fill icon shadow-none"
            (click)="onCloseDialog('close')">
    </button>
  </div>
</div>

<mat-dialog-content class="mat-typography" >

  <div class="row">
    <mat-card style="margin-bottom: 2%;min-width: 230px;">

      <div mat-dialog-content>
        <b>Nome:</b> {{this.getName()}}
      </div>
      <div mat-dialog-content>
        <b>Cognome:</b> {{this.getSurname()}}
      </div>
      <div mat-dialog-content>
        <b>Email:</b> {{this.getEmail()}}
      </div>
      <div mat-dialog-content>
        <b>Cellulare:</b> {{this.getNumber()}}
      </div>
      <div mat-dialog-content>
        <b>Data:</b> {{this.getDate().toLocaleDateString()}}
      </div>
      <div mat-dialog-content >
        <b>Orario:</b> {{this.getTime().hours}}:{{this.getTime().minutes/10}}0
      </div>
      <div mat-dialog-content>
        <b>Trattamento:</b> {{this.getTreatment()}}
      </div>

    </mat-card>
  </div>

  <div class="row" style="margin-top: 2%;text-align: center" *ngIf="this.getLoggedIn() && !this.getInsertion()">
    <div class="col-sm-12" style="text-align: center">
      <mat-button-toggle class="mat-raised-button mat-warn buttonConfirm"
                         (click)="onCloseDialog('cancel');" >
        Cancella
      </mat-button-toggle>
    </div>
  </div>

  <div class="row">
    <mat-card *ngIf="!this.getLoggedIn() && this.getInsertion()">

      <div mat-dialog-content>
        Salvare appuntamento in Google Calendar?
      </div>


      <div class="row" style="margin-top: 1%;text-align: center" *ngIf="!this.getInfo().loggedIn">
        <div class="col-sm-12" style="text-align: center;">
          <mat-button-toggle class="mat-raised-button mat-primary buttonConfirm"
                             (click)="saveEvent();">
            Salva
            <i class="bi bi-calendar-plus " style="margin-left: 10%"></i>
          </mat-button-toggle>
        </div>
      </div>
    </mat-card>
  </div>


</mat-dialog-content>



























<!--&lt;!&ndash;<button mat-icon-button class="close-button" [mat-dialog-close]="true">&ndash;&gt;-->
<!--&lt;!&ndash;  <mat-icon color="warn">close</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;</button>&ndash;&gt;-->

<!--<button class="bi bi-x-circle-fill icon shadow-none"-->
<!--        (click)="onCloseDialog('close')"-->
<!--        ></button>-->
<!--&lt;!&ndash;[mat-dialog-close]="true"&ndash;&gt;-->



<!--<h1 mat-dialog-title *ngIf="this.getInsertion()">Prenotazione Confermata!</h1>-->
<!--<h1 mat-dialog-title *ngIf="!this.getInsertion()">Dettagli Prenotazione</h1>-->

<!--<mat-card style="margin-bottom: 5%">-->



<!--  <div mat-dialog-content>-->
<!--    <b>Nome:</b> {{this.getName()}}-->
<!--  </div>-->
<!--  <div mat-dialog-content>-->
<!--    <b>Cognome:</b> {{this.getSurname()}}-->
<!--  </div>-->
<!--  <div mat-dialog-content>-->
<!--    <b>Email:</b> {{this.getEmail()}}-->
<!--  </div>-->
<!--  <div mat-dialog-content>-->
<!--    <b>Cellulare:</b> {{this.getNumber()}}-->
<!--  </div>-->
<!--  <div mat-dialog-content>-->
<!--    <b>Data:</b> {{this.getDate().toLocaleDateString()}}-->
<!--  </div>-->
<!--  <div mat-dialog-content >-->
<!--    <b>Orario:</b> {{this.getTime().hours}}:{{this.getTime().minutes/10}}0-->
<!--  </div>-->
<!--  <div mat-dialog-content>-->
<!--    <b>Trattamento:</b> {{this.getTreatment()}}-->
<!--  </div>-->

<!--</mat-card>-->

<!--<div class="row" style="margin-top: 5%;text-align: center" *ngIf="this.getLoggedIn() && !this.getInsertion()">-->
<!--  <div class="col-sm-12" style="text-align: center">-->
<!--    <mat-button-toggle class="mat-raised-button mat-warn buttonConfirm"-->
<!--                       (click)="onCloseDialog('cancel');" >-->
<!--      Cancella-->
<!--    </mat-button-toggle>-->
<!--  </div>-->

<!--</div>-->

<!--<mat-card *ngIf="!this.getLoggedIn() && this.getInsertion()">-->

<!--  <div mat-dialog-content>-->
<!--    Salvare appuntamento in Google Calendar?-->
<!--  </div>-->


<!--  <div class="row" style="margin-top: 1%;text-align: center" *ngIf="!this.getInfo().loggedIn">-->
<!--    <div class="col-sm-12" style="text-align: center;">-->
<!--      <mat-button-toggle class="mat-raised-button mat-primary buttonConfirm"-->
<!--                         (click)="saveEvent();">-->
<!--        Salva-->
<!--      </mat-button-toggle>-->
<!--    </div>-->
<!--&lt;!&ndash;    <div class="col-sm-6" style="text-align: center;margin-bottom: 5%">&ndash;&gt;-->
<!--&lt;!&ndash;      <mat-button-toggle class="mat-raised-button mat-primary buttonConfirm"&ndash;&gt;-->
<!--&lt;!&ndash;                         (click)="onCloseDialog('close');">&ndash;&gt;-->
<!--&lt;!&ndash;        Chiudi&ndash;&gt;-->
<!--&lt;!&ndash;      </mat-button-toggle>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--  </div>-->



<!--</mat-card>-->


